{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "linebreak-style": "off",
        "no-param-reassign": [2, { 
            "props": false
        }]
    },
    "extends": "airbnb-base"
}